@charset "utf-8";
/* CSS Document */

html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", "sans-serif";
	margin-bottom: 1.5rem;
}
.bg-blue {
	background-color: #03a9f4;
}
.page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 1.5rem;
}
h2 svg {
	padding-bottom: 0.4rem;
}
.input-text {
	height: 2.4rem;
	margin-left: -0.2rem;
}
a:link {
	color: #FFA33C;
}
a:visited {
	color: #D06E00;
}
a:hover {
	text-decoration: none;
	color: #FF8700;
}
.spacing {
	padding-top: 0.5em;
}
